<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    	<tab id="sales" translate="label" sortOrder="300">
            <label>Sales</label>
        </tab>
    	<section id="order_procession_fees" translate="label" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Order Processing Fees</label>
            <tab>sales</tab>
            <resource>Magento_Sales::config_sales</resource>
    		<group id="order_processing" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Order Processing Fees</label>
                <field id="apply_fees" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Apply Additional Fee</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="process_fee" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Order Processing Fee</label>
                    <validate>required-number validate-number</validate>
                    <comment>Add fee in %. This fee will be added to the product price as an additional fee.</comment>
                </field>
            </group>
    	</section>
    </system>
</config>