<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    	<tab id="customer" translate="label" sortOrder="300">
            <label>Customers</label>
        </tab>
    	<section id="additinal_fields_section_customer" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Customer Additinal Fields</label>
            <tab>customer</tab>
            <resource>Magento_Customer::config_customer</resource>
    		<group id="additinal_fields" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Customer Additinal Fields Configuration</label>
                <field id="father_name" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Father's Name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mother_name" translate="label" type="select" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mother's Name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
    	</section>
    </system>
</config>