<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SimplifiedMagento_CustomAdmin::member" title="Affiliate Member" translate="title" module="SimplifiedMagento_CustomAdmin" sortOrder="200" resource="SimplifiedMagento_CustomAdmin::parent"/>
        <add id="SimplifiedMagento_CustomAdmin::affiliate_member" title="Affiliate Member" translate="title" module="SimplifiedMagento_CustomAdmin" sortOrder="200" parent="SimplifiedMagento_CustomAdmin::member" action="affiliate/member/index" resource="SimplifiedMagento_CustomAdmin::parent"/>
    </menu>
</config>
