<div data-mage-init='{"collapsible": {}}'>
	<div data-role="title">
		<strong>This is the collapsible content right here!</strong>
	</div>
	<div data-role="content">
		This is the collapsible content right here!
		This is the collapsible content right here!
		This is the collapsible content right here!
		This is the collapsible content right here!
		This is the collapsible content right here!
		This is the collapsible content right here!
	</div>
</div>
<script>console.log("dfdf");</script>