<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    	<tab id="customer" translate="label" sortOrder="300">
            <label>Customers</label>
        </tab>
    	<section id="ip_section_customer" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Customer IP Configuration</label>
            <tab>customer</tab>
            <resource>Magento_Customer::config_customer</resource>
    		<group id="ip_customer" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>IP Restrictions</label>
                <field id="ip_address" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Ip Addresses(comma separated)</label>
                </field>
            </group>
    	</section>
    </system>
</config>