<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="SimplifiedMagento\Database\Model\AffiliateMemberRepository">
		<plugin name="attribute_code_plugin" type="SimplifiedMagento\Attribute\Model\Plugin\CodeAttributeExtension" />
	</type>	
</config>