<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="order_processing_fees" instance="TrainningVivek\OrderProcessing\Observer\OrderProcessingFees" />
    </event>
</config>